body{
  background-image: url("wall f.jpg") ;
  width: 100%;
  height: auto;
  
}

section{
  background-color: #300000;
  backdrop-filter: blur(2px);
}
.ii{
  color: rgb(255, 89, 0);
  margin-left: auto;
    margin-right: auto;
    padding: 5px;
  
    
}
 


.navbar {
  overflow: hidden;
  background-color: #f28024;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar a{
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.dropdown {
  float: center;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(255, 193, 68);
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f2c0c0;
  min-width: 122px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #eca350;
}
.dropdown:hover .dropdown-content {
  display: block;
}



.tital{
  background-color: #300000;
  text-align: center;
  text-size-adjust: 30%;
  color: rgb(255, 138, 14);
}

.A{

  backdrop-filter: blur(1px);
  padding: 100px;
  background-size: 300px 100px;
}




.p{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  background-color: rgb(255, 255, 255);
  background-size: 20%;
}

.grid-container {
  display: grid;
  height:auto;
  align-content: center;
  grid-template-columns: auto auto auto;
  gap: 0px;
  padding:auto;
}

.grid-container > div {
  background-color: rgb(255, 145, 27);
  text-align: center;
  padding: 10px ;
  font-size: 20px;
}


.About{
  color: azure;
  text-align: center;
  backdrop-filter: blur(6px);
}

.info{
  color: azure;
  text-align: center;
  backdrop-filter: blur(6px);
}

.cc{
  color: rgb(255, 219, 157);
  backdrop-filter: blur(6px);
}

.ig{
  backdrop-filter: blur(6px);
}

.ig{
  padding: 5px;
  transition: transform .2s;
  width: 700px;
  height: 350px;
  margin: 0 auto;
}

.ig:hover {
  transform: scale(1.1);
}

.ad{
  text-align: center;
  text-size-adjust:50%;
  color: antiquewhite;
}